@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
}

.App {
    height: 100vh;
}

.app__body {
    display: flex;
    height: 100vh;
}